<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>会社一覧画面</title>
        <link rel="stylesheet" type="text/css" href="../../resources/cs/appcommon.css" th:href="@{/resources/cs/appcommon.css}" />
        <link rel="stylesheet" type="text/css" href="../../resources/cs/companylist.css" th:href="@{/resources/cs/companylist.css}" />
        <script type="text/javascript" src="../../resources/js/appcommon.js" th:src="@{/resources/js/appcommon.js}"></script>
        <script type="text/javascript" src="../../resources/js/companylist.js" th:src="@{/resources/js/companylist.js}"></script>
    </head>
    <body>
        <article>
   			<form action="companylist.html" th:action="@{/company/search}" th:object="${searchform}" method="post" name="searchcondition">
	        	<section>
	        		<fieldset class="searchcondition">
	        			<legend>検索条件</legend>
	        				<table>
	        					<tr>
	        						<td>
	        							<label>会社区分</label>
	        						</td>
	        						<td>
			        					<input type="radio" name="companykbn" th:field="*{companykbn}" value="1" readonly="readonly" />会社１
			        					<input type="radio" name="companykbn" th:field="*{companykbn}" value="2" readonly="readonly" />会社２
			        					<input type="radio" name="companykbn" th:field="*{companykbn}" value="3" readonly="readonly" />会社３
			        					<input type="radio" name="companykbn" th:field="*{companykbn}" value="4" readonly="readonly" />会社４
	        						</td>
	        					</tr>
	        					<tr>
	        						<td>
			        					<label>会社番号</label>
	        						</td>
	        						<td>
						    			<input type="text" name="companyno" th:field="*{companyno}" value="1234567890123" form="searchcondition" maxlength="13" placeholder="会社番号を入力" />
	        						</td>
	        					</tr>
	        					<tr>
	        						<td>
	        						</td>
	        						<td>
			        					<button type="submit" name="search" form="searchcondition">検索</button>
	        						</td>
	        					</tr>
	        				</table>
	        		</fieldset>
	        	</section>
	        	<section>
	        		<div class="searchresult-header">
		        		<div class="searchresult-left">
		        			<span>検索結果一覧</span>
		        		</div>
		        		<div class="searchresult-right">
			        		<div class="pagenavigaton">
			        			<a href="companylist.html" th:href="@{/firstpage}">&laquo;</a>
			        			<a href="companylist.html" th:href="@{/prevpage}">&lsaquo;</a>
			        			<a href="companylist.html" th:href="@{/nextpage}">&rsaquo;</a>
			        			<a href="companylist.html" th:href="@{/lastpage}">&raquo;</a>
			        			<span th:text="*{currentpage}">0</span>
			        			<input type="hidden" th:field="*{currentpage}" />
			        			<span>／</span>
			        			<span th:text="*{totalpage}">0</span>
			        			<span>&emsp;&emsp;</span>
			        			<input type="hidden" th:field="*{totalpage}" />
			        			<span th:text="*{searchcount}">0</span>
			        			<input type="hidden" th:field="*{searchcount}" />
			        			<span>件</span>
			        		</div>
		        		</div>
	        		</div>
	        		<div class="searchresult-tableheader">
	        			<table class="searchlistheader">
	        				<thead>
	        					<tr>
	        						<th class="column-companykbn">会社区分</th>
	        						<th class="column-companyname">会社名</th>
	        						<th class="column-companyno">会社番号</th>
	        						<th class="column-companyrname">会社カナ名</th>
	        						<th class="column-hojinno">法人番号</th>
	        						<th class="column-createdate">登録日時</th>
	        					</tr>
	        				</thead>
	        			</table>
	        		</div>
	        		<div class="searchresult-tablerecord">
	        			<table class="searchlistmeisai">
	        				<tbody id="searchlist-tbody" th:if="${searchresult ne null}">
	        				    <th:block th:each="row : ${searchresult.searchlist}">
	      					        <tr>
	        						    <td class="column-companykbn" th:text="${row.companykbn}">会社区分</td>
	        						    <td class="column-companyname" th:text="${row.companyname}">会社名</td>
	        						    <td class="column-companyno">
	        						    	<a href="./companyitem.html"
	        						    	    th:href="@{/companyitem(companykbn=${row.companykbn},companyno=${row.companyno},companybno=${row.companybno})}"
	        						    	    th:text="${row.companyno}">会社番号</a>
	        						    </td>
	        						    <td class="column-companyrname" th:text="${row.companyrname}">会社カナ名</td>
	        						    <td class="column-hojinno" th:text="${row.hojinno}">法人番号</td>
	        						    <td class="column-createdate" th:text="${row.createdate}">登録日時</td>
	        					    </tr>
	        				    </th:block>
	        				    <!--/*-->
	      					        <tr>
	        						    <td class="column-companykbn">Ａ</td>
	        						    <td class="column-companyname">株式会社ACE</td>
	        						    <td class="column-companyno">
	        						    	<a href="./companyitem.html">111222</a>
	        						    </td>
	        						    <td class="column-companyrname">エース</td>
	        						    <td class="column-hojinno">1234567890001</td>
	        						    <td class="column-createdate">2019/11/22 12:34:56</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="column-companykbn">B</td>
	        						    <td class="column-companyname">株式会社BIG</td>
	        						    <td class="column-companyno">
	        						    	<a href="./companyitem.html">111333</a>
	        						    </td>
	        						    <td class="column-companyrname">ビッグ</td>
	        						    <td class="column-hojinno">1234567890002</td>
	        						    <td class="column-createdate">2019/11/23 12:34:56</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="column-companykbn">C</td>
	        						    <td class="column-companyname">株式会社CORP</td>
	        						    <td class="column-companyno">
	        						    	<a href="./companyitem.html">111444</a>
	        						    </td>
	        						    <td class="column-companyrname">コープ</td>
	        						    <td class="column-hojinno">1234567890003</td>
	        						    <td class="column-createdate">2019/11/23 09:34:56</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="column-companykbn">D</td>
	        						    <td class="column-companyname">株式会社Duck</td>
	        						    <td class="column-companyno">
	        						    	<a href="./companyitem.html">111555</a>
	        						    </td>
	        						    <td class="column-companyrname">ダック</td>
	        						    <td class="column-hojinno">1234567890005</td>
	        						    <td class="column-createdate">2019/11/24 09:34:56</td>
	        					    </tr>
	        				    <!--*/-->
	        				</tbody>
	        			</table>
	        		</div>
	        		<div>
	        			<button type="submit" form="searchcondition">CSV出力</button>
	        		</div>
	        	</section>
   			</form>
        </article>
    </body>
</html>