<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>検索画面</title>
        <link rel="stylesheet" type="text/css" href="../../resources/cs/appcommon.css" th:href="@{/resources/cs/appcommon.css}" />
        <link rel="stylesheet" type="text/css" href="../../resources/cs/searchDialog.css" th:href="@{/resources/cs/searchDialog.css}" />
        <script type="text/javascript" src="../../resources/js/appcommon.js" th:src="@{/resources/js/appcommon.js}"></script>
        <script type="text/javascript" src="../../resources/js/searchDialog.js" th:src="@{/resources/js/searchDialog.js}"></script>
    </head>
    <body onload="initialize();">
        <article>
   			<form action="searchDialog.html" th:action="@{/search/dosearch}" th:object="${searchform}" method="post" name="searchcondition">
	        	<section>
	        		<fieldset class="searchcondition">
	        			<legend>検索条件</legend>
	        				<table>
	        					<tr>
	        						<td>
	        							<label>会社区分</label>
	        						</td>
	        						<td>
			        					<input type="radio" id="companykbn1" th:field="*{companykbn}" value="1" disabled="disabled" />会社１
			        					<input type="radio" id="companykbn2" th:field="*{companykbn}" value="2" disabled="disabled" />会社２
			        					<input type="radio" id="companykbn3" th:field="*{companykbn}" value="3" disabled="disabled" />会社３
			        					<input type="radio" id="companykbn4" th:field="*{companykbn}" value="4" disabled="disabled" />会社４
			        					<input type="hidden" id="hdn_companykbn" name="companykbn"/>
	        						</td>
	        					</tr>
	        					<tr>
	        						<td>
			        					<label>会社番号</label>
	        						</td>
	        						<td>
						    			<input type="text" id="companyno" th:field="*{companyno}" value="1234567890123" form="searchcondition" maxlength="13" placeholder="会社番号を入力" />
	        						</td>
	        					</tr>
	        					<tr>
	        						<td>
	        						</td>
	        						<td>
			        					<button type="submit" form="searchcondition">検索</button>
	        						</td>
	        					</tr>
	        				</table>
	        		</fieldset>
	        	</section>
	        	<section>
	        		<div class="searchresult-header">
		        		<div class="searchresult-left">
		        			<span>検索結果一覧</span>
		        		</div>
		        		<div class="searchresult-right">
			        		<div class="pagenavigaton">
			        			<a href="" th:href="@{/firstpage}">&laquo;</a>
			        			<a href="" th:href="@{/prevpage}">&lsaquo;</a>
			        			<a href="" th:href="@{/nextpage}">&rsaquo;</a>
			        			<a href="" th:href="@{/lastpage}">&raquo;</a>
			        			<span th:text="${searchresult.currentpage}">0</span>
			        			<span>／</span>
			        			<span th:text="${searchresult.totalpage}">0</span>
			        			<span th:text="${searchresult.searchcount}">0</span>
			        			<span>件</span>
			        		</div>
		        		</div>
	        		</div>
	        		<div class="searchresult-tableheader">
	        			<table class="searchlistheader">
	        				<thead>
	        					<tr>
	        						<th class="selected" rowspan="2">選択</th>
	        						<th class="companykbn" rowspan="2">会社区分</th>
	        						<th class="companyname">会社名</th>
	        						<th class="companyno">会社番号</th>
	        					</tr>
	        					<tr>
	        						<th class="companyrname">会社カナ名</th>
	        						<th class="hojinno">法人番号</th>
	        					</tr>
	        				</thead>
	        			</table>
	        		</div>
	        		<div class="searchresult-tablerecord">
	        			<table class="searchlistmeisai" id="searchlistmeisai">
<!-- 	        				<tbody id="searchlist-tbody"> -->
	        				    <th:block th:each="row : ${searchresult.searchlist}">
	      					        <tr>
	             						<td class="selected" rowspan="2">
	             							<input type="radio" name="selected" />
	             						</td>
	        						    <td class="companykbn" th:text="${row.companykbn}" rowspan="2">会社区分</td>
	        						    <td class="companyname" th:text="${row.companyname}">会社名</td>
	        						    <td class="companyno" th:text="${row.companyno}">会社番号</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="companyrname" th:text="${row.companyrname}">会社カナ名</td>
	        						    <td class="hojinno" th:text="${row.hojinno}">法人番号</td>
	        					    </tr>
	        				    </th:block>
	        				    <!--/*-->
	      					        <tr>
	             						<td class="selected" rowspan="2">
	             							<input type="radio" name="selected" />
	             						</td>
	        						    <td class="companykbn" rowspan="2">Ａ</td>
	        						    <td class="companyname">株式会社ACE</td>
	        						    <td class="companyno">111222</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="companyrname">エース</td>
	        						    <td class="hojinno">1234567890001</td>
	        					    </tr>
	      					        <tr>
	             						<td class="selected" rowspan="2">
	             							<input type="radio" name="selected" />
	             						</td>
	        						    <td class="companykbn" rowspan="2">B</td>
	        						    <td class="companyname">株式会社BIG</td>
	        						    <td class="companyno">111333</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="companyrname">ビッグ</td>
	        						    <td class="hojinno">1234567890002</td>
	        					    </tr>
	      					        <tr>
	             						<td class="selected" rowspan="2">
	             							<input type="radio" name="selected" />
	             						</td>
	        						    <td class="companykbn" rowspan="2">C</td>
	        						    <td class="companyname">株式会社CORP</td>
	        						    <td class="companyno">111444</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="companyrname">コープ</td>
	        						    <td class="hojinno">1234567890003</td>
	        					    </tr>
	      					        <tr>
	             						<td class="selected" rowspan="2">
	             							<input type="radio" name="selected" />
	             						</td>
	        						    <td class="companykbn" rowspan="2">D</td>
	        						    <td class="companyname">株式会社Duck</td>
	        						    <td class="companyno">111555</td>
	        					    </tr>
	      					        <tr>
	        						    <td class="companyrname">ダック</td>
	        						    <td class="hojinno">1234567890005</td>
	        					    </tr>
	        				    <!--*/-->
<!-- 	        				</tbody> -->
	        			</table>
	        		</div>
	        		<div>
	        			<button type="submit" form="searchcondition">CSV出力</button>
	        		</div>
	        		<div>
	        			<button type="submit" id="selectedbutton" form="searchcondition" onclick="onclickSelectedButton();">選択</button>
	        			<button type="submit" form="searchcondition" onclick="onclickCancelButton()">キャンセル</button>
	        		</div>
	        	</section>
   			</form>
        </article>
    </body>
</html>